#appointmentBtn {
    margin-top: 500px;
}

.apptBtn {
    width: 90%;
    border-radius: 10px
}

.apptTow {
    margin-top: 25px;
}

body p {
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
  }

.contactBox {
    display: flex;
    flex-direction: row;
}

.contactBtn {
    width: 65%;
    border-radius: 15px;
}

.contactBtns {
    margin-left: -75px;
    margin-top: 50px;
}

.coupon {
    width: 100%;
    margin-top: 25px;
}

.couponBox {
    margin-top: 50px;
    z-index: 2;
    position: absolute;
    width: 85%;
    margin-top: 250px;
    background-color: #002C65;
    border-radius: 15px;
    margin-left: 20px;
}

.couponImg {
    width: 90%;
    position: absolute;
    margin-left: -170px;
    z-index: 1;
    margin-top: 50px; 
}

.footer {
    background-color: #002C65;
    bottom:0;
    height: 60px;
    width: 105%;
    margin-left: -10px

}

#footerIcon {
    color: white;
}

.hdrText {
    width: 200%;
    transform: rotate(270deg);
    margin-left: -125px;
    margin-top: 210px;
}

.headerLogo {
    width: 90%;
}

.homeBody {
    background-image: url('bg-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.homeHeader {
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin-top: -10px;
    margin-left: -5px
}

.homeLogo {
    width: 25%;
    padding-left: 15px;
    padding-top: 15px
}

.hoursBox {
    background-color: #002C65;
    border-radius: 15px;
    padding: 10px;
    width: 85%;
}

.hoursContent {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.hoursTXT {
    width: 90%
}

.iconRow {
    padding-top: 15px;
}

.icon {
    width: 40%;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.loyaltyBody {
    background-image: url('bg-2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.loyaltyBox {
    display: flex;
    flex-direction: row;
}

.loyaltyLogo {
    width: 90%;
    border-radius: 15px;
}

.moreBtn {
    width: 85%;
    border-radius: 15px;
    margin-top: 10px
}

.moreHR {
    width: 1px;
    transform: rotate(180deg);
    color: #002C65;
    border: 2px solid #002C65;
    margin-top: -10px;
    margin-left: 5px;
}

.notification {
    width: 35%;
    margin-top: 25px;
    border: 1px solid red;
}

.special {
    background-image: url('bg-2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#selectedIcon {
    color: rgb(136, 139, 141);
}

.socialBox {
    display: flex;
    flex-direction: row;
}

.socialIcon {
    width: 50%
}

.socialIcons {
    display: flex;
    flex-direction: column;
}

.specialArrow {
    width: 80%;
}

.specialBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.specialH3 {
    font-size: 15px;
    margin-top: 10px;
}

.specialImg {
    width: 50%;
}

.specialP {
    font-size: 10px;
    margin-top: -15px;
}

.towingBtn {
    width: 90%;
    border-radius: 10px
}

.towingImg {
    width: 90%;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}